html {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form {
	text-align: center;
}

input {
	appearance: none;
	border: 1px solid var(--text-color);
	margin: 0.5rem 0;
	padding: initial;
	display: initial;
}
