html {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.calculator form {
	font-size: 2rem;
}

.calculator input {
	font-family: 'Silkscreen', monospace;
	padding: 0.5rem;
}

.result {
	font-size: 1.25rem;
}
