<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>pay2win</title>
		<link
			rel="stylesheet"
			href="https://minimalcss.jwestman.net/minimal.min.css"
		/>
	</head>
	<body>
		<h1>pay2win</h1>
		<p>tired and sleep-deprived, shreyas drops a pay-to-win challenge.</p>

		<p>hi {{ name }}! your user type is: {{ type }}.</p>

		<nav>
			<ul>
				<li><a href="/upgrade">upgrade</a></li>
				<li><a href="/rename">change your name</a></li>
				<li><a href="/flag">le flag</a></li>
			</ul>
		</nav>

		<small><a href="/logout">logout</a></small>
	</body>
</html>
